# Copy this file to .env file and fill in the variables

# Logger variables
LOG_COLORIZE=true
LOG_FORMAT=pretty
LOG_LEVEL=debug
LOGGER_ENABLED=true

# Bot variables
BORROWER_LOGS_LOOKBACK_BLOCKS=300
BOT_ENABLED=true
COMET_ADDRESS=0xa193bcE4554663FECde688D5921dF38D4D41AA96
FETCH_AND_FILTER_NEW_POSITIONS_FREQUENCY_MS=120000
HOT_WALLET_PRIVATE_KEY=0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
INITIALIZE_TARGET_CHAIN_TIMEOUT_MS=600000
INITIATE_OEV_LIQUIDATIONS_FREQUENCY_MS=5000
LIQUIDATION_TRANSACTION_TIMEOUT_MS=15000
LIQUIDATOR_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
MAX_BORROWER_DETAILS_MULTICALL=500
MAX_LOG_RANGE_BLOCKS=10000
MAX_POSITIONS_TO_LIQUIDATE=10
MIN_POSITION_USD_E18=1
MIN_RPC_DELAY_MS=30
RESET_CURRENT_POSITIONS_FREQUENCY_MS=7200000
RESET_INTERESTING_POSITIONS_FREQUENCY_MS=600000
RPC_URL=https://base-rpc.publicnode.com
RUN_IN_LOOP_MAX_WAIT_TIME_PERCENTAGE=100